flow2
[{"id":"a4615c90.ad1b6","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"df5edc10.501f9","type":"http in","z":"a4615c90.ad1b6","name":"","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":100,"y":280,"wires":[["248fedc9.f69c32","79fccba5.f4acf4"]]},{"id":"248fedc9.f69c32","type":"function","z":"a4615c90.ad1b6","name":"set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["f97c9f52.68f6e"]]},{"id":"f97c9f52.68f6e","type":"rpi-gpio out","z":"a4615c90.ad1b6","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":370,"y":340,"wires":[]},{"id":"79fccba5.f4acf4","type":"function","z":"a4615c90.ad1b6","name":"retrun","func":"msg.payload=\"led HIGH\"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["cce9e69a.80ca38","cb5d2646.cc6b18"]]},{"id":"cce9e69a.80ca38","type":"http response","z":"a4615c90.ad1b6","name":"","statusCode":"","headers":{},"x":570,"y":200,"wires":[]},{"id":"cb5d2646.cc6b18","type":"debug","z":"a4615c90.ad1b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":400,"wires":[]},{"id":"58404508.4e264c","type":"http in","z":"a4615c90.ad1b6","name":"","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":90,"y":400,"wires":[["1dafc4d1.01592b","77db8db9.ddd744"]]},{"id":"1dafc4d1.01592b","type":"function","z":"a4615c90.ad1b6","name":"set to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":400,"wires":[["f97c9f52.68f6e"]]},{"id":"77db8db9.ddd744","type":"function","z":"a4615c90.ad1b6","name":"return","func":"msg.payload=\"led LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":480,"wires":[["cce9e69a.80ca38","cb5d2646.cc6b18"]]}]
