flow1
[{"id":"6daa3f69.9482f","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b581bef0.1743a","type":"http in","z":"6daa3f69.9482f","name":"","url":"/pin24","method":"get","upload":false,"swaggerDoc":"","x":110,"y":260,"wires":[["6dec1d12.c84064"]]},{"id":"e2c6c7b8.5cb068","type":"rpi-gpio in","z":"6daa3f69.9482f","name":"GPIO24","pin":"18","intype":"up","debounce":"25","read":false,"x":100,"y":340,"wires":[["d554bd50.746ac"]]},{"id":"d554bd50.746ac","type":"function","z":"6daa3f69.9482f","name":"set","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["f9deaa2e.236228"]]},{"id":"6dec1d12.c84064","type":"function","z":"6daa3f69.9482f","name":"get","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["eed2b896.b2b0d8","f9deaa2e.236228"]]},{"id":"eed2b896.b2b0d8","type":"http response","z":"6daa3f69.9482f","name":"","statusCode":"","headers":{},"x":460,"y":260,"wires":[]},{"id":"f9deaa2e.236228","type":"debug","z":"6daa3f69.9482f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":340,"wires":[]}]
